.DS_Store

# Client
client/node_modules
client/dist

# Model
.idea
.cache
__pycache__
server/model/dataset/hooktheory
server/model/dataset/processed*
spotify_client_*
*.npy
*.pth
embedding*.json
log.txt
model/*.png

# Checkpoints
checkpoints
